.backgSet {
    padding: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 27px 13px #F2F2F2;
    box-shadow: 0px 1px 27px 13px #F2F2F2;
    border-radius: 5px;
}

.main-active{
    background-color: #224442 !important;
    color: white !important;
}
.active{
    background-color: #efefef !important;
    color: #3a3b45 !important;
}

.topbar-bg{
    background-color: #eef0f0 !important;
}

.side-menu-fw{
    font-weight: 700;
}

.page-header{
    font-weight: 700;
}

.mt-15{
    margin-top: 15px;
}

table > thead > tr {
    background-color: #eef0f0 !important;
    color: #3a3b45 !important;
}

.custom-text-info{
    color: #224442 !important;
}

.color-box {
    height: 25px;
    width: 25px;
    display: table-cell;
    border-radius: 5px;
}